@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@500&display=swap');

.input {
    border: 0px solid;
    width: 65px;
    height: 45px;
    border-radius: 7.5px;
    background-color: #ffffff;
    font-family: 'Reem Kufi Fun', sans-serif;
    color: rgb(0, 71, 75);
    font-size: 17.5px;
    display: inline-block;
    margin:5px;
    text-align: center;

}

.input:focus {
    border: 0px solid;
    width: 65px;
    height: 45px;
    border-radius: 7.5px;
    background-color: #ffffff;
    font-family: 'Reem Kufi Fun', sans-serif;
    color: rgb(0, 71, 75);
    font-size: 17.5px;
    display: inline-block;
    margin:5px;
    text-align: center;
    outline: 2px rgb(38, 194, 173) solid;
}
